:root {
  --full: 18.180px;
  --half: 8.090px;
  --quarter: 4.031px;
}

/* Reorganize */
.gsc-comments > .gsc-header {
  order: 1;
}

.gsc-comments > .gsc-comment-box {
  order: 2;
}

.gsc-comments > .gsc-timeline {
  order: 3;
}

.gsc-timeline {
  flex-direction: column-reverse;
}

/*Remove clutter*/
.gsc-header, .gsc-comment-reactions, .gsc-reactions-menu, .gsc-comment-replies-count, .gsc-comment-box-markdown-hint, .gsc-upvotes, .gsc-comment-box-separator {
  display: none;
}

#__next * {
  font-family: -webkit-pictograph, sans-serif;
  box-sizing: border-box;
  border-radius: 0 !important;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

#__next {
  font-size: 18px;
  line-height: 32px;
}

/*Blockquotes*/

.gsc-comment-content blockquote {
  border-left: var(--quarter) solid #EEEEEE;
  padding-left: var(--half) !important;
  margin-bottom: var(--half) !important;
}

.gsc-comment-content blockquote * {
  font-size: 13.5px !important;
  line-height: 24px !important;
}

.gsc-comment-content blockquote p {
  display: inline;
  font-style: italic;
}
.gsc-comment-content blockquote p:before {
  content: '”';
  display: inline;
}
.gsc-comment-content blockquote p:after {
  content: '„';
  display: inline;
}

/*Textarea*/
.gsc-comment-box-textarea {
  resize: none;
}

/*Comments*/
.gsc-comment * {
  border: none;
  border-radius: 0;
}

.gsc-comment {
  padding: var(--half) !important;
  border: black 1px solid;
  margin-bottom: var(--full) !important;
}

.gsc-comment-box {
  margin-bottom: var(--full) !important;
}

.gsc-comment-content {
  margin-left: var(--half) !important;
}

/*Reply box*/
.gsc-reply-box {
  border-top: #EEEEEE 1px solid;
  padding-top: var(--full) !important;
  width: 100%;
}

.gsc-reply-box:first-child {
  display: none;
}

.gsc-comment div.w-full {
  display: flex;
  flex-wrap: wrap;
}

.gsc-comment-header {
  max-width: 15%;
}

.gsc-comment-header .flex, .gsc-comment-header .hidden, .gsc-reply-author .hidden {
  display: none !important;
}

.gsc-comment-content {
  max-width: 85%;
}

.gsc-comment-author {
  position: relative;
}

.gsc-comment-author .Link--primary, .gsc-comment-author .Link--secondary {
  background-color: rgba(0,0,0,0.25);
  text-shadow: 0px 0px 5px #000;
  color: #EEEEEE;
  padding: var(--quarter) !important;;
}

.gsc-comment-author .Link--primary {
  font-size: 13.5px !important;
  line-height: 13.5px !important;
  position: absolute;
  bottom: var(--quarter);
  border-left: #EEEEEE var(--quarter) solid;
  right: 0;
  padding-right: var(--half) !important;
}
.gsc-comment-author .Link--secondary {
  font-size: 13.5px !important;
  line-height: 13.5px !important;
  position: absolute;
  top: var(--quarter);
  border-right: #EEEEEE var(--quarter) solid;
  left: 0;
  padding-left: var(--half);
}

.gsc-comment-author-avatar {
  width: 100px;
  height: 100px;
}

.gsc-comment-author:last-child {
  display: none; !important;
}

.gsc-comment-author-avatar img {
  width: 100%;
  height: 100%;
}

.gsc-reply-author-avatar {
  margin-right: var(--half) !important;
}

.gsc-reply-author time {
  margin-left: var(--half) !important;;
}

.gsc-reply-box img {
  margin-right: var(--half) !important;
}