:root {
  --full: 18.180px;
  --half: 8.090px;
  --quarter: 4.031px;
}

/* Reorganize */
.gsc-comments > .gsc-header {
  order: 1;
}

.gsc-comments > .gsc-comment-box {
  order: 2;
}

.gsc-comments > .gsc-timeline {
  order: 3;
}

.gsc-timeline {
  flex-direction: column-reverse;
}

.gsc-comment-box-textarea {
  outline: 2px solid #EEEEEE;
  padding: var(--half) !important;
}

/*Blockquotes*/

.gsc-comment-content blockquote {
  border-left: var(--quarter) solid #EEEEEE !important;
  padding-left: var(--half) !important;
  margin-bottom: var(--half) !important;
}

.gsc-comment-content blockquote * {
  font-size: 13.5px !important;
  line-height: 24px !important;
}

.gsc-comment-content blockquote p {
  display: inline;
  font-style: italic;
}
.gsc-comment-content blockquote p:before {
  content: '”';
  display: inline;
}
.gsc-comment-content blockquote p:after {
  content: '„';
  display: inline;
}

/* Remove clutter */
.gsc-header, .gsc-comment-reactions, .gsc-reactions-menu, .gsc-comment-replies-count, .gsc-comment-box-markdown-hint, .gsc-upvotes, .gsc-comment-box-separator, .gsc-reply-box img, .gsc-reply-author .hidden, .gsc-comment-header .flex, .gsc-comment-box-tabs {
  display: none;
}

#__next * {
  margin: 0;
  padding: 0;
  font-family: -webkit-pictograph, sans-serif;
  box-sizing: border-box;
  border-radius: 0 !important;
  font-size: inherit;
  border: none;
  line-height: inherit;
  font-weight: normal;
}

/* Comment */

.gsc-comment {
  outline: 2px solid #EEEEEE !important;
  border: var(--quarter) solid #FBFBFB !important;
  text-align: justify;
  padding: var(--full) !important;
  margin: var(--full) !important;
}

.gsc-comment-header {
  margin-bottom: var(--full) !important;
}

.gsc-comment-author {
  display: flex;
  justify-content: space-between;
}

.gsc-comment-author > .Link--secondary {
  font-style: italic;
  order: 2;
  color: gray;
}
.gsc-comment-author > .ml-2:first-of-type {
  order: 1;
  font-style: italic;
  color: gray;
}

.gsc-comment-content {
  margin-bottom: var(--full) !important;
}

.gsc-replies {
  margin-bottom: var(--full) !important;
}
.gsc-reply {
  margin-bottom: var(--half) !important;
  max-width: 92.7%;
  outline: 2px solid #EEEEEE !important;
  border: var(--quarter) solid #FBFBFB !important;
  margin-left: auto !important;
  padding-right: var(--full) !important;
}

.gsc-reply .flex {
  align-items: center;
}

.gsc-reply-author-avatar img {
  height: 48px;
  width: 48px;
  margin-right: var(--full) !important;
}

.gsc-reply-author {
  display: flex;
  justify-content: space-between;
}

.gsc-reply-author time {
  margin-left: auto !important;
  margin-right: 0 !important;

  font-style: italic;
  color: gray;
}

.gsc-reply-box {
  float: right;
  color: #0000EE;
}

.form-control {
  cursor: pointer;
}

.gsc-comment-box {
  padding: var(--full) !important;
}

.gsc-comment-author-avatar img {
  margin-right: var(--full) !important;
}

.gsc-comment-box-textarea {
  cursor: text !important;
  resize: none;
}

.gsc-comment-box-textarea:focus {
  outline: 2px solid black; !important;
}

.gsc-comment-box-bottom {
  width: 100%;
}

.gsc-comment-box-buttons {
  margin-top: var(--half) !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gsc-comment-box-buttons .btn, .gsc-comment-box-buttons .btn-primary {
  color: #0000EE;
  margin-left: auto !important;
}

.flex .rounded-full {
  margin: var(--half) !important;
}

@media (prefers-color-scheme: dark) {
  .gsc-comments *, .gsc-comment-content blockquote {
    outline-color: #000000 !important;
    border-color: #121212 !important;
    background-color: #262626 !important;
    color: rgba(255,255,255,0.60) !important;
  }

  .gsc-comments button { color: rgba(135,206,250,0.60) !important; }

  .gsc-comments img {
    opacity: 0.75;
  }

  .gsc-comments img:hover {
    opacity: 1;
  }
}